<!doctype html>

<!-- Metadata -->
<meta charset=“utf8”>
<link rel=“icon” href=“/static/favicon.ico”>
<title>Assignment 1 (HTML) - CS 3550</title>

<!-- CSS Stylesheet -->
<link rel="stylesheet" href="/static/main.css">

<!-- Nav Bar -->
<header>
    <div class="nav-content">
        <div id="left-nav">
            <h1>CS 3550</h1>
            <a href="/static/index.html">Assignments</a>
        </div>
        <div id="right-nav">
            <a href="/static/profile.html">Profile</a>
        </div>
    </div>
</header>

<div class="content">
    <!-- Title and Description -->
    <div class="title">
        <h2>{{assignment.title}}</h2>
        <p>Due {{assignment.deadline|date:"F d"}}, total of {{assignment.points}} point{{assignment.points|pluralize}}.</p>
    </div>

    <!-- Action Box -->
    <div class="action-box">
        <p>Currently {{submissions}}/{{students}} submission{{students|pluralize}}</p>
        <div>
            <p>{{for_grading}} submission{{for_grading|pluralize}} assigned to you</p>
            <a href="/{{assignment.id}}/submissions.html" role="button">Grade</a>
        </div>
    </div>

    <!-- Paragraphs and Image -->
    <main>
        <h3>Description</h3>

        {{assignment.description|safe}}
    </main>
</div>