<!doctype html>

<!-- Header -->
{% include "header.html" with title="CS 3550" %}

<div class="content">
    <!-- Title and Description -->
    <div class="title">
        <h2>{{assignment.title}}</h2>
        <p>Due {{assignment.deadline|date:"F d"}}, total of {{assignment.points}} point{{assignment.points|pluralize}}.</p>
    </div>

    {% if is_student or not user.is_authenticated %}
    <!-- Student Action Box -->
    <div class="action-box">
        {% for error in errors %}
            <output>{{error}}</output>
        {% endfor %}
        {% if submission.file %}
            <p>Current submission: <a href="{{submission.file.url}}" title="Go to {{submission.author}}'s submission">{{submission.file.name}}.pdf</a> </p>
        {% else %}
            <p>No current submission</p>
        {% endif %}
        <form action="/{{assignment.id}}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <input type="file" name="submission-file"> <!-- -{{submission.author}} -->
                <div class="submit-button">
                    <button>Submit</button>
                </div>
            </div>
        </form>
    </div>
    {% else %}
    <!-- TA Action Box -->
    <div class="action-box">
        {% if is_ta %}
        <p>Currently {{submissions}}/{{students}} submission{{students|pluralize}}</p>
        <div>
            <p>{{for_grading}} submission{{for_grading|pluralize}} assigned to you</p>
            <a href="/{{assignment.id}}/submissions" role="button">Grade</a>
        </div>
        {% else %}
        <div>
            <p>Currently {{submissions}}/{{students}} submission{{students|pluralize}}</p>
            <a href="/{{assignment.id}}/submissions" role="button">Grade</a>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <!-- Paragraphs and Image -->
    <main>
        <h3>Description</h3>

        {{assignment.description|safe}}
    </main>
</div>