<!-- Metadata -->
<meta charset=“utf8”>
<link rel=“icon” href=“/static/favicon.ico”>
<title>CS 3550</title>

<!-- CSS Stylesheet -->
<link rel="stylesheet" href="/static/main.css">

<!-- Nav Bar -->
<header>
    <div class="nav-content">
        <div id="left-nav">
            <h1>CS 3550</h1>
            <a href="/">Assignments</a>
        </div>
        <div id="right-nav">
            <a href="/profile">Profile</a>
        </div>
    </div>
</header>

<!-- <header>
    <h1>CS 3550</h1>
    <nav>
        <li><a href="/">Assignments</a></li>
        <li><a href="/profile">Profile</a></li>
    </nav>
</header> -->