<!doctype html>

<!-- Header -->
{% include "header.html" with title="CS 3550" %}

<div class="content">
    <!-- Title and Description -->
    <div class="title content">
        <h2>All assignments</h2>
    </div>

    <!-- Assignments Table -->
    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Due date</th>
                <th class="numeric-column">Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td> <a href="/{{assignment.id}}/">{{assignment.title}}</a> </td>
                <td>{{assignment.deadline|date:"M d"}}</td>
                <td class="numeric-column">{{assignment.weight}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>