<!doctype html>

<!-- Metadata -->
<meta charset=“utf8”>
<link rel=“icon” href=“/static/favicon.ico”>
<title>All Assignments - CS 3550</title>

<!-- CSS Stylesheet -->
<link rel="stylesheet" href="/static/main.css">

<!-- Nav Bar -->
<header>
    <div class="nav-content">
        <div id="left-nav">
            <h1>CS 3550</h1>
            <a href="/static/index.html">Assignments</a>
        </div>
        <div id="right-nav">
            <a href="/static/profile.html">Profile</a>
        </div>
    </div>
</header>

<div class="content">
    <!-- Title and Description -->
    <div class="title content">
        <h2>All assignments</h2>
    </div>

    <!-- Assignments Table -->
    <table>
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Due date</th>
                <th class="numeric-column">Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td> <a href="/{{assignment.id}}/">{{ assignment.title }}</a> </td>
                <td>{{ assignment.deadline|date:"M d" }}</td>
                <td class="numeric-column">{{ assignment.weight }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>