<!doctype html>

<!-- Header -->
{% include "header.html" with title="CS 3550" %}

<div class="content">
    <!-- Title and Description -->
    <div class="title content">
        <h2>All assignments</h2>
    </div>

    <!-- Assignments Table -->
    <table class="sortable">
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="sort-column" role="button">Due date</th>
                <th class="numeric-column sort-column" role="button">Weight</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr data-index="{{forloop.counter}}">
                <td> <a href="/{{assignment.id}}/">{{assignment.title}}</a> </td>
                <td data-value="{{assignment.deadline|date:'U'}}">{{assignment.deadline|date:"M d"}}</td>
                <td class="numeric-column" data-value="{{assignment.weight}}">{{assignment.weight}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>