<!doctype html>

<!-- Header -->
{% include "header.html" with title="CS 3550" %}

<div class="content">
    <!-- Title and Description -->
    <div class="title">
        <h2>Log in</h2>
    </div>

    <!-- Login Prompts -->
    <form id="login-form">
        <div class="login-row">
            <label for="username">Username:</label>
            <input id="username" autofocus>
        </div>
        <div class="login-row">
            <label for="password">Password:</label>
            <input id="password" type="password">
        </div> 
        <div class="login-row">
            <button>Log in</button>
        </div>
    </form>
</div>