<!doctype html>

<!-- Header -->
{% include "header.html" with title="CS 3550" %}

<div class="content">
    <!-- Title and Description -->
    <div class="title content">
        <h2>Your grades</h2>
    </div>

    <!-- Action Box -->
    <div class="action-box">
        <div>
            {% if user.is_authenticated %}
                <p>Currently logged in as {{user.get_full_name}}.</p>
            {% else %}
                <p>Currently logged in as AnonymousUser.</p>
            {% endif %}
            <a href="/profile/logout/" role="button">Log out</a>
        </div>
    </div>

    <!-- Graded Table -->
    <table id="profile-table" class="sortable">
        {% if user.is_superuser %}
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="numeric-column">Graded</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td> <a href="/{{assignment.id}}/">{{assignment.title}}</a> </td>
                <td class="numeric-column">{{assignment.total_graded_count}}/{{assignment.total_submissions_count}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% elif is_ta %}
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="numeric-column">Graded</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td> <a href="/{{assignment.id}}/">{{assignment.title}}</a> </td>
                <td class="numeric-column">{{assignment.graded_count}}/{{assignment.for_grading_count}}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        <thead>
            <tr>
                <th>Assignment</th>
                <th class="numeric-column">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for assignment in assignments %}
            <tr>
                <td> <a href="/{{assignment.id}}/">{{assignment.title}}</a> </td>
                <td class="numeric-column">{{assignment.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Current Grade</td>
                <td class="numeric-column">{{current_grade}}</td>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</div>