<!doctype html>

<!-- Header -->
{% include "header.html" with title="CS 3550" %}

<div class="content">
    <!-- Title and Description -->
    <div class="title">
        <h2>{{assignment.title}}</h2>
        <p>All grades out of {{assignment.points}}</p>
    </div>

    <!-- Assignments Table -->
    <form id="assignments-table" action="/{{assignment.id}}/submissions" method="post">
        {% csrf_token %}
        {% for invalid_id in invalid_submission_ids %}
        <output id="invalid_submission_ids">{{invalid_id}}</output>
        {% endfor %}
        <table>
            <thead>      
                <tr>
                    <th>Student</th>
                    <th>Submission</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                <tr>
                    <td> <label for="{{submission.author}}">{{submission.author}}</label> </td>
                    <td> <a href="{{submission.file}}" title="Go to {{submission.author}}'s submission">Submission</a> </td>
                    <td> <input type="number" step="any" min="0" max="{{assignment.points}}" id="{{submission.author}}" value="{{submission.score|default:''}}" name="grade-{{submission.id}}"> </td>
                    <td> 
                        {% for error in submission.errors %}
                        <output>{{error}}</output>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="submit-button">
            <button>Submit</button>
            <a href="/{{assignment.id}}/">Back to assignment</a>
        </div>
    </form>
</div>
 