<!doctype html>

<!-- Header -->
{% include "header.html" with title="CS 3550" %}

<div class="content">
    <!-- Title and Description -->
    <div class="title">
        <h2>{{assignment.title}}</h2>
        <p>All grades out of {{assignment.points}}</p>
    </div>

    <!-- Assignments Table -->
    <form id="assignments-table" action="/{{assignment.id}}/submissions" method="post">
        {% csrf_token %}
        <table>
            <thead>      
                <tr>
                    <th>Student</th>
                    <th>Submission</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for submission in submissions %}
                <tr>
                    <td> <label for="{{submission.0}}">{{submission.0}}</label> </td>
                    <td> <a href="{{submission.1}}" title="Go to {{submission.0}}'s submission">Submission</a> </td>
                    <td> <input type="number" id="{{submission.0}}" value="{{submission.2|default:''}}" name="grade-{{submission.id}}"> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="submit-button">
            <button>Submit</button>
            <a href="/{{assignment.id}}/">Back to assignment</a>
        </div>
    </form>
</div>
 