@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.25;
    font-size: 1rem;
}

html, 
body {
    margin: 0rem;
    padding: 0rem;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

code {
    font-family: "IBM Plex Mono", monospace;
}

p li {
    margin-bottom: 1rem;
}

img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

table {
    line-height: 1.5;
    width: calc(100% - 2rem);
    margin: 1rem;
}

th {
    text-align: left;
}

tfoot {
    font-weight: bold;
}

.numeric-column {
    text-align: right;
}

header {
    font-size: 1.25rem;
    background-color: #ddd;
    box-shadow: 0px 0px 5px gray;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header h1 {
    font-weight: bold;
    color: black;
    font-size: 1.25rem;
    margin: 0rem;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header a {
    color: #444;
    text-decoration: none;
    font-weight: 400;
}

header a:hover {
    text-decoration: underline;
}

.title {
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.title h2 {
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

.title p {
    font-size: 1rem;
    margin-top: 0rem;
    padding-top: 0rem;
}

#login-form {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.login-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#login-form input,
#login-form button {
    width: 50%;
}

#assignments-table input,
#assignments-table button {
    width: auto;
}

.action-box {
    background-color: #b1c3de;
    border-color: #204a87;
    border-style: solid;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.action-box p {
    margin: 0.5rem;
}

.action-box div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.submit-button {
    margin: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
}

/* Homework 4 changes here */
output {
    font-weight: bold;
    color: red;
}

input:invalid {
    border: 2px solid red;
}

#invalid_submission_ids {
    margin-left: 1rem;
    margin-right: 1rem;
}