@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.25;
    font-size: 1rem;
}

code {
    font-family: "IBM Plex Mono", monospace;
}

table {
    line-height: 1.5;
    width: 100%;
}

th {
    text-align: left;
}

.numeric-column {
    text-align: right;
}

header {
    font-size: 1.25rem;
}

header h1 {
    font-weight: bold;
}

header nav a {
    color: darkgray;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header ul {
    list-style: none;
}

.title {
    font-size: 1.5rem;
}

.title p {
    font-size: 1rem;
}

#login-form {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#login-form input,
#login-form button {
    width: 50%;
}

#assignments-table input,
#assignments-table button {
    width: auto;
}